.centerStyle{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  
}


.cardContainer {
  padding: 10px;
  width: 18rem;
  border: 1px solid #ccc;
  border-radius: 25px;
  /* text-align: center; */
}

.font {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

.MarginTextCard {
  margin: 10px;
}

.cardContainerBottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardMainContainer {
  display: flex;
  justify-content: center;

  margin: 15px;
  
  cursor: pointer;
  min-height: 180px;
}


.cardMainContainer:hover {
  transition: .3s;
  transform: scale(1.1);
}