.centerStyle {
    display: flex;
    justify-content: center;
  }
  
  .topDownMargin{
    margin: 10px 0 10px 0 ;
  }

  
  .cardContainer{
    padding: 5px;
    width: 18rem;
    border-style: ridge;
    border-radius: 1rem;
    /* text-align: center; */
    
  }

  .font{
    font-family: 'proxima-nova-soft'
  }

  
.MarginTextCard{
    margin: 5px 5px 5px 5px ;
  }