.inputCon{
    display: flex;
    justify-content: center;
}


.inputCon button, .inputCon input{
    margin: 15px 0;
}

.inputCon input{
    margin-right: 15px;
}

.inputCon button{
    margin-left: 15px;
}

.cardstyle{
    display: flex;
    justify-content: center;
}


.positionHandle{
    
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    position: absolute;
}

