.positionAndStyleActive{
  transition: .3s;
  left:25%;
  width: 500px;
  height: 500px; 
}



.positionAndStyle { 
    transition: .3s;
    position: fixed;

    top:15%;
    // left:0;
    width: 500px;
    height: 500px;   

 
    background: black;
    z-index: 90 !important;
    border-radius: 25px;

    

  .mainContainer {
    margin: 15px;
    display: flex;
    justify-content: center;

    h1 {
        word-wrap: break-word;
        color:white
    }

  }
}
